.produtocarvalor
{
    color: #009950;
    font-size: 20px;
    font-weight: 500;
}
.produtocardnm
{
    color: black;
}
.produtocard
{
    text-decoration: none;
    margin: 20px;
    width: 280px;
}
.cardimg
{
    height: 290px;
    width: 280px;
    border-radius: 10px;
}